@font-face {
  font-family: "circular";
  src: url(abnbfont.woff) format("woff");
}

:root {
  --header-brand-color: #ff385c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "circular", -apple-system, "BlinkMacSystemFont", "Roboto",
    "Helvetica Neue", sans-serif !important;
  font-size: 14px;
  line-height: 1.43;
  color: #484848;
  background-color: #fff;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  background-color: #000;
  color: white;
}

.navbar {
  padding: 0 !important;
}

.nav {
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 8%) 0px 1px 12px !important;
}

.navbar-brand {
  height: 80px;
}

.container {
  max-width: 1600px !important;
}

.logo {
  color: var(--header-brand-color);
}

.search {
  color: #222;
}

.btn-label {
  padding: 0 16px;
  font-size: 14px !important;
  line-height: 18px !important;
  font-weight: 600 !important;
  text-overflow: ellipsis !important;
}

.serch-icon {
  background-color: var(--header-brand-color);
  border-radius: 50%;
  color: white;
  padding: 5px;
  height: 32px;
  width: 32px;
}

.search-btn {
  width: 300px;
  font-size: 16px;
  font-weight: 400;
  height: 48px;
  line-height: 20px;
  padding: 0 8px;
  border-radius: 40px;
  border: 1px solid #ddd;
  background-color: white;
  box-shadow: 0px 1px 2px rgb(0 0 0 / 8%), 0px 4px 12px rgb(0 0 0 / 5%) !important;
}

.search-btn:hover {
  box-shadow: 0px 2px 4px rgb(0 0 0 / 18%) !important;
}

.button {
  padding: 12px;
  border-radius: 22px;
  border: 0;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  text-decoration: none;
  color: #222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
}

.button:hover {
  background-color: #f7f7f7;
  text-decoration: none;
  color: #000;
}

.btn-world {
  margin-right: 8px;
}

.user-button {
  padding: 5px 5px 5px 12px;
  border: 1px solid #dddddd;
  border-radius: 21px;
  background-color: #fff;
}

.user-button:hover {
  box-shadow: 0px 2px 4px rgb(0 0 0 / 18%) !important;
}

.user-svg {
  color: #717171;
  height: 30px !important;
  margin-left: 12px;
}

/* Image section styles  */

.first {
  padding-top: 80px;
  padding-bottom: 96px;
}

.image-container {
  padding-bottom: 72px;
  position: relative;
}

.image-container img {
  width: 100%;
  height: auto;
}

.logo-n-btn {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 70%;
}

.Heading {
  font-size: 48px;
  font-weight: 600;
  line-height: 54px;
  padding-bottom: 24px;
}

.btn-flexible {
  background-color: #fff;
  margin-top: 16px;
  font-size: 18px;
  line-height: 28px;
  padding: 14px 32px;
  border-radius: 40px;
  font-weight: 600;
}

.flx-btn-text {
  color: #6f019c;
}

.btn-flexible:hover {
  background-color: #ebebeb;
}

.second {
  padding: 96px 0 48px 0;
}

.subhead {
  font-size: 42px;
  font-weight: 600;
  line-height: 47px;
  padding-bottom: 48px;
}

.card-title {
  font-size: 35px;
  font-weight: 600;
  letter-spacing: -0.01em;
  line-height: 39px;
}

.card-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
}

.card-1,
.card-2,
.card-3,
.card-4 {
  border-radius: 12px !important;
  overflow: hidden;
}

.card-1 a:hover {
  text-decoration: none;
}
.card-2 a:hover {
  text-decoration: none;
}
.card-3 a:hover {
  text-decoration: none;
}
.card-4 a:hover {
  text-decoration: none;
}

.second.row .col-3 {
  padding: 0 10px;
}

.card-body {
  height: 16.2em;
  min-height: 50%;
}

.card-1 .card-body {
  background-color: #de3151;
  color: white;
}
.card-2 .card-body {
  background-color: #bc1a6e;
  color: white;
}
.card-3 .card-body {
  background-color: #cc2d4a;
  color: white;
}
.card-4 .card-body {
  background-color: #d93b30;
  color: white;
}

.card img {
  /* position: relative; */
  width: 100%;
}

.experiences {
  padding: 48px 0 96px 0;
}

.experiences img {
  border-radius: 10px;
  width: 100%;
}

.c-img-row {
  padding-bottom: 6rem;
}

/* Experiences Styles  */
.experiences .card {
  border: 0;
}

.txt-grp {
  padding: 80px !important;
}

.txt-grp a {
  color: #222;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.txt-title {
  color: #fff;
  font-size: 53px;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 60px;
  padding-bottom: 24px;
  white-space: pre-line !important;
  font-family: inherit !important;
}

.txt-btn {
  padding: 14px 24px;
  background-color: #fff;
  display: block;
  border-radius: 10px;
  width: fit-content;
}

.t3 {
  font-size: 95px;
  line-height: 98px;
  letter-spacing: 0em;
}

/* Footer Styles  */

.footer-navigation {
  background-color: #f7f7f7;
  padding: 48px 0;
}
