:root {
  --header-brand-color: #ff385c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
}

.dark {
  background-color: #000;
  color: white;
}

/* .col-lg-4 {
  /* border: 1px solid blue; */
/* padding: 0 80px !important; */
/* } */

/* Navbar styles  */

.navbar {
  padding: 0 !important;
}

.nav {
  background-color: #fff;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
  height: 80px;
}

.container {
  max-width: 1600px !important;
}

.logo {
  color: var(--header-brand-color);
}

.search {
  color: #222;
}

.btn-label {
  padding: 0 16px;
}

.search img {
  background-color: var(--header-brand-color);
  border-radius: 50%;
  padding: 5px;
  height: 32px;
  width: 32px;
}

.search-btn {
  width: 300px;
  font-size: 16px;
  font-weight: 400;
  height: 48px;
  line-height: 20px;
  padding: 0 8px;
  border-radius: 40px;
  border: 1px solid #ddd;
  background-color: white;
  box-shadow: 1px 2px gray;
}

.button {
  padding: 12px;
  border-radius: 22px;
  border: 0;
  cursor: pointer;
  font-size: 14px;
  /* font-weight: 600; */
  line-height: 18px;
  text-decoration: none;
  color: #000;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
}

.button:hover {
  background-color: #f7f7f7;
  text-decoration: none;
  color: #000;
}

.btn-world {
  margin-right: 8px;
}

.user-button {
  padding: 5px 5px 5px 12px;
  border: 1px solid #dddddd;
  border-radius: 21px;
  background-color: #fff;
}

.user-svg {
  color: #717171;
  height: 30px !important;
  margin-left: 12px;
}

/* Image section styles  */

.first {
  padding-top: 80px;
  padding-bottom: 96px;
}

.image-container {
  padding-bottom: 72px;
  position: relative;
}

.image-container img {
  width: 100%;
  height: auto;
}

.logo-n-btn {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 70%;
}

.Heading {
  font-size: 48px;
  font-weight: 600;
  line-height: 54px;
  padding-bottom: 24px;
}

.btn-flexible {
  background-color: #fff;
  margin-top: 16px;
  font-size: 18px;
  line-height: 28px;
  padding: 14px 32px;
  border-radius: 40px;
  font-weight: 600;
}

.flx-btn-text {
  color: #6f019c;
}

.btn-flexible:hover {
  background-color: #ebebeb;
}

.second {
  padding-top: 96px;
  padding-bottom: 48px;
}

.subhead {
  font-size: 42px;
  font-weight: 600;
  line-height: 47px;
  padding-bottom: 48px;
}

.card-1,
.card-2,
.card-3,
.card-4 {
  border-radius: 12px !important;
  overflow: hidden;
}

.card-1 a:hover {
  text-decoration: none;
}
.card-2 a:hover {
  text-decoration: none;
}
.card-3 a:hover {
  text-decoration: none;
}
.card-4 a:hover {
  text-decoration: none;
}

.card-1 .card-body {
  background-color: #d93b30;
  color: white;
}
.card-2 .card-body {
  background-color: #de3151;
  color: white;
}
.card-3 .card-body {
  background-color: #bc1a6e;
  color: white;
}
.card-4 .card-body {
  background-color: #cc2d4a;
  color: white;
}

.card img {
  /* position: relative; */
  width: 100%;
}

.experiences {
  padding-bottom: 48px;
}

.img-col img {
  border-radius: 10px;
}
