/* @font-face {
  font-family: "circular";
  src: url(normal.woff2) format("woff");
} */

@font-face {
  font-family: Circular;
  unicode-range: U+0000-03FF, U+0500-058F, U+0700-074F, U+0780-FAFF, U+FE00-FE6F,
    U+FF00-EFFFF, U+FFFFE-10FFFF;
  font-weight: normal;
  font-style: normal;
  src: url("https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/Airbnb_Cereal-Book-9a1c9cca9bb3d65fefa2aa487617805e.woff2")
      format("woff2"),
    url("https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/Airbnb_Cereal-Book-aa38e86e3f98554f9f7053d7b713b4db.woff")
      format("woff");
  font-display: swap;
}

@font-face {
  font-family: Circular;
  unicode-range: U+0000-03FF, U+0500-058F, U+0700-074F, U+0780-FAFF, U+FE00-FE6F,
    U+FF00-EFFFF, U+FFFFE-10FFFF;
  font-weight: 600;
  font-style: normal;
  src: url("https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/Airbnb_Cereal-Medium-50fc004b3082375f12ff0cfb67bf8e56.woff2")
      format("woff2"),
    url("https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/Airbnb_Cereal-Medium-4bc8dafd2e0fd8914bf4d5edce9acd24.woff")
      format("woff");
  font-display: swap;
}

@font-face {
  font-family: Circular;
  unicode-range: U+0000-03FF, U+0500-058F, U+0700-074F, U+0780-FAFF, U+FE00-FE6F,
    U+FF00-EFFFF, U+FFFFE-10FFFF;
  font-weight: 800;
  font-style: normal;
  src: url("https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/Airbnb_Cereal-Bold-bdfb98485e7836ba31b456f65cded088.woff2")
      format("woff2"),
    url("https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/Airbnb_Cereal-Bold-a188841af78481a25b7bb2316a5f5716.woff")
      format("woff");
  font-display: swap;
}

:root {
  --header-brand-color: #ff385c;
  --grid-col-xs: 2;
  --grid-col-md: 4;
  --grid-col-lg: 4;
  --page-shell-max-content-width: 1760px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Circular", -apple-system, "BlinkMacSystemFont", "Roboto",
    "Helvetica Neue", sans-serif !important;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.43;
  color: #484848;
  background-color: #fff;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover {
  text-decoration: none !important;
  color: inherit !important;
}

.dark {
  background-color: #000;
  color: white;
}

.navbar {
  width: 100% !important;
  padding: 0 !important;
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.nav-container {
  max-width: var(--page-shell-max-content-width, 1440px) !important;
}

.nav {
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 8%) 0px 1px 12px !important;
}

.left-navbar {
  flex: 0 0 auto !important;
}

.navbar-brand-logo {
  height: 80px;
  color: var(--header-brand-color);
  margin: 0 !important;
  padding: 0 !important;
}

.full-svg {
  display: none;
}

.center-navbar {
  flex: 0 1 auto !important;
  min-width: 348px !important;
  padding: 0 24px !important;
}

.search {
  color: #222;
}

.btn-label {
  padding: 0 16px;
  font-size: 14px !important;
  line-height: 18px !important;
  font-weight: 600 !important;
  text-overflow: ellipsis !important;
}

.serch-icon {
  background-color: var(--header-brand-color);
  border-radius: 50%;
  color: white;
  padding: 5px;
  height: 32px;
  width: 32px;
  margin: 7px 7px 7px 0;
}

.search-btn {
  width: 300px;
  font-size: 16px;
  font-weight: 400;
  height: 48px;
  line-height: 20px;
  padding: 0 0 0 8px;
  border-radius: 40px;
  border: 1px solid #ddd;
  background-color: white;
  box-shadow: 0px 1px 2px rgb(0 0 0 / 8%), 0px 4px 12px rgb(0 0 0 / 5%) !important;
}

.search-btn:hover {
  box-shadow: 0px 2px 4px rgb(0 0 0 / 18%) !important;
}

.right-navbar {
  flex: 1 0 auto !important;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 80px;
}

.left-profile {
  display: flex;
  flex: auto;
  justify-content: flex-end;
  margin-right: 8px;
}

.button {
  padding: 12px;
  border-radius: 22px;
  border: 0;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  text-decoration: none;
  color: #222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
}

.button:hover {
  background-color: #f7f7f7;
  text-decoration: none;
  color: #000;
}

.btn-world {
  display: flex;
  align-items: center;
}

.user-button {
  padding: 5px 5px 5px 12px;
  border: 1px solid #dddddd;
  border-radius: 21px;
  background-color: #fff;
  position: relative;
}

.user-button:hover {
  box-shadow: 0px 2px 4px rgb(0 0 0 / 18%) !important;
}

.user-svg {
  color: #717171;
  height: 30px !important;
  margin-left: 12px;
}

.notification-dot {
  background-color: var(--header-brand-color);
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  height: 10px;
  min-width: 10px;
  right: 4px;
  top: 2px;
  box-shadow: white 0px 0px 0px 1.5px;
}

.container-small {
  padding: 16px 24px !important;
  max-width: 100vw;
  width: 100%;
  display: none !important;
}

.search-btn-small {
  border: 1px solid #f7f7f7;
  border-radius: 24px;
  width: 100%;
  height: 48px;
  background-color: #f7f7f7;
  box-shadow: none;
}

.serch-icon-small {
  padding-right: 8px;
  color: var(--header-brand-color);
}

.search-btn-small svg {
  display: block;
  fill: none;
  height: 16px !important;
  width: 16px !important;
  stroke: currentColor;
  stroke-width: 4 !important;
  overflow: visible;
}

.btn-label-small {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  color: #222;
}

.container-fluid.main {
  margin-top: 80px;
  padding: 0 !important;
}

/* First  */

.first.row.dark {
  padding-top: calc(176px - 80px);
  padding-bottom: 96px;
}

.first .card {
  border: 0;
}

.first .cont .card-img-overlay {
  padding: 0 0 72px 0;
}

.first .cont {
  padding: 0;
}

.image-container {
  padding-bottom: 72px;
  position: relative;
}

.image-container img {
  width: 100%;
  height: auto;
}

.logo-n-btn {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 70%;
}

.Heading {
  font-size: 48px;
  font-weight: 600;
  line-height: 54px;
  padding-bottom: 24px;
  color: #fff;
  font-family: inherit;
  margin: 0;
  letter-spacing: -0.02em;
}

.btn-flexible {
  background-color: #fff;
  font-size: 18px;
  line-height: 28px;
  padding: 14px 32px;
  border-radius: 1000px;
  font-weight: 800;
}

.flx-btn-text {
  background: -webkit-linear-gradient(0deg, #6f019c 0%, #c6017e 135.12%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0 2px 0 2px;
}

.btn-flexible:hover {
  background-color: #ebebeb;
}

/* Second Section Styles */

.second {
  padding: 96px 0 0;
}

/* .city-card {
  border-radius: 12px;
}

.card-content {
  display: grid;
  grid-template-columns: minmax(0px, 1fr) !important;
  grid-template-rows: minmax(0px, 1fr) !important;
  flex: 1 0 auto !important;
}

.card-content::before {
  content: "";
  padding-top: 66.6667%;
  grid-area: 1 / 1 / 1 / 1 !important;
  min-width: 0px !important;
}

.second .card-img-top {
  border-radius: 0;
} */

.s-first-row {
  padding-bottom: 48px;
}

.subhead {
  font-size: 42px;
  font-weight: 600;
  line-height: 47px;
  margin: 0;
  letter-spacing: -0.02em;
}

.second-nav {
  padding-left: 8px;
}

.btn-row .btn-margin {
  margin-left: 8px;
}

.btn-previous,
.btn-next {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(221, 221, 221);
  background: white;
  border-radius: 50%;
  color: rgb(34, 34, 34);
  width: 32px;
  height: 32px;
}

.city-cards {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(var(--grid-col-xs, 2), minmax(0, 1fr));
  column-gap: 16px;
  row-gap: 16px;
}

.card-title {
  font-size: 35px;
  font-weight: 600;
  letter-spacing: -0.01em;
  line-height: 39px;
}

.card-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
}

.card-1,
.card-2,
.card-3,
.card-4 {
  border-radius: 12px !important;
  overflow: hidden !important;
}

.second .card .card-body {
  padding: 24px 16px 59% 16px;
  position: relative;
}

.card-1 a:hover {
  text-decoration: none;
}
.card-2 a:hover {
  text-decoration: none;
}
.card-3 a:hover {
  text-decoration: none;
}
.card-4 a:hover {
  text-decoration: none;
}

.second.row .col-3 {
  padding: 0 10px;
}

/* .card-body {
  height: 168.66px;
  min-height: 50%;
} */

.card-1 .card-body {
  background-color: #de3151;
  color: white;
}
.card-2 .card-body {
  background-color: #bc1a6e;
  color: white;
}
.card-3 .card-body {
  background-color: #cc2d4a;
  color: white;
}
.card-4 .card-body {
  background-color: #d93b30;
  color: white;
}

.card img {
  /* position: relative; */
  width: 100%;
}

.card-img-top {
  /* border-radius: 12px;  */
}

.experiences {
  padding: 96px 0px !important;
}

.experiences img {
  border-radius: 12px;
  width: 100%;
}

.big-img-col {
  padding: 0 !important;
}

.c-img-row {
  padding-bottom: 6rem;
}

/* Experiences Styles  */

.experiences .subhead {
  padding-bottom: 48px;
}

.experiences .card {
  border: 0;
}

.c-img-row .row,
.img-col {
  padding: 0 !important;
}

.left-img {
  padding-right: 12px !important;
}
.right-img {
  padding-left: 12px !important;
}

.txt-grp {
  padding: 80px !important;
}

.txt-grp a {
  color: #222;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.txt-title {
  color: #fff;
  font-size: 53px;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 60px;
  padding-bottom: 24px;
  white-space: pre-line !important;
  font-family: inherit !important;
}

.txt-btn {
  font-size: 14px;
  padding: 14px 24px;
  background-color: #fff;
  display: block;
  border-radius: 8px;
  width: fit-content;
}

.txt-btn:hover {
  background-color: #ebebeb;
}

.t3 {
  font-size: 95px;
  line-height: 98px;
  letter-spacing: 0em;
}

/* Footer Styles  */

.footer-container {
  padding: 0 80px !important;
  margin: 0 !important;
}

.footer-row {
  max-width: 1600px !important;
  margin: auto !important;
}

.footer-col {
  padding: 0 !important;
}

.footer-col .row {
  width: 100%;
}

.footer-col .row .container {
  margin: 0 !important;
  max-width: 100% !important;
  padding: 0 !important;
}

.footer-navigation {
  background-color: #f7f7f7;
  font-size: 14px;
}

.nav-first {
  padding: 48px 0;
  margin: 0 !important;
}

.col-headers {
  color: #222;
  font-size: 14px !important;
  line-height: 18px;
  font-weight: 800 !important;
}

.col-header {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  font-size: unset !important;
  font-weight: unset !important;
}

.nav-col {
  padding: 0px 12px !important;
}

.nav-col ul {
  margin-bottom: 0 !important;
}

.nav-title {
  color: #222;
  font-size: 14px;
  line-height: 18px;
  font-weight: 800;
}

.footer-navigation li {
  list-style-type: none;
  margin: 16px 0 0;
}

.footer-navigation li a {
  color: #222;
  text-decoration: none;
  line-height: 18px;
  outline: none;
}

.copyright-row {
  border-top: 1px solid rgb(221, 221, 221) !important;
  padding: 24px 0;
}

.nav-list {
  margin: 0 0 0 -19px;
}

.nav-list a {
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-variant: inherit;
  text-decoration: none !important;
  color: #222;
  font-size: 14px;
  line-height: 18px;
  outline: none;
}

.abnb {
  margin: 0 19px 0 0;
}

.dot {
  display: inline-block;
  text-align: center !important;
  width: 19px !important;
}

.copyright-row a {
  color: #222;
}

.language,
.currency {
  margin-right: 24px;
}

.btn-language,
.btn-currency {
  border: 0px !important;
  background: transparent !important;
  cursor: pointer !important;
  margin: 0px !important;
  padding: 0px !important;
  font-size: 14px !important;
  line-height: 18px !important;
  text-decoration: none !important;
}

.world-logo,
.rupee-logo {
  margin-right: 8px;
}

.bold-ul {
  font-weight: 600 !important;
  text-decoration: underline !important;
}

.social-icons {
  margin-left: 32px !important;
}

.social-icons ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-icons ul li {
  padding: 0;
}

.facebook,
.twitter {
  margin: 0 24px 0 0 !important;
}

.instagram {
  margin: 0 !important;
}

/* Media Queries  */
@media (min-width: 375px) {
  .nav-container {
    padding: 0 24px !important;
  }
  .navbar .container {
    display: none;
  }
  .navbar .container-small {
    display: block;
  }
}
@media (min-width: 744px) {
  .navbar .container {
    display: block;
  }

  .nav-container {
    padding: 0 40px !important;
  }

  .second-nav {
    display: block;
  }

  .city-cards {
    grid-template-columns: repeat(var(--grid-col-md, 3), minmax(0, 1fr));
    column-gap: 16px;
    row-gap: 16px;
  }
}
@media (min-width: 650px) {
}
@media (min-width: 950px) {
  .nav-container {
    padding: 0 40px !important;
  }

  .left-navbar {
    flex: 1 0 140px !important;
  }

  .center-navbar {
    text-align: center !important;
  }

  .right-navbar {
    flex: 1 0 140px !important;
  }

  .cont-second {
    margin: 0 40px !important;
  }

  .second-nav {
    display: none;
  }

  .subhead {
    font-size: 25px;
    line-height: 28px;
  }
}
@media (min-width: 1128px) {
  .nav-container {
    padding: 0 80px !important;
  }

  .full-svg {
    display: block;
  }

  .half-svg {
    display: none;
  }

  .nav-column {
    flex: 1 0 0% !important;
    padding-right: 12px !important;
  }

  .cont-second {
    margin: 0 80px !important;
  }

  .subhead {
    font-size: 33px;
    line-height: 37px;
  }

  .cont-second .card-title {
    font-size: 27px;
    line-height: 30px;
  }

  .city-cards {
    grid-template-columns: repeat(var(--grid-col-lg, 4), minmax(0, 1fr));
    column-gap: 24px;
    row-gap: 24px;
  }

  .footer-nav-list {
    display: block !important;
    margin: 0 !important;
  }
}

@media (min-width: 1440px) {
  .first .cont {
    max-width: calc(min(1760px, 100%) - 160px) !important;
  }

  .nav-container {
    padding: 0 80px !important;
  }

  .first .Heading {
    color: #fff;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: -0.02em;
    line-height: 54px;
  }

  .subhead {
    font-size: 42px;
    font-weight: 600;
    letter-spacing: -0.02em;
    line-height: 47px;
  }

  .cont-second .card-title {
    font-size: 35px;
    font-weight: 600;
    letter-spacing: -0.01em;
    line-height: 39px;
  }
}
@media (min-width: 1600px) {
  .cont-second {
    max-width: 1600px !important;
    margin: auto !important;
  }

  /* .card-body {
    height: 254.66px !important;
  } */
}
@media (min-width: 2080px) {
  .first .cont {
    max-width: 1920px !important;
  }

  .cont-second {
    max-width: 1920px !important;
  }

  /* .second .card-body {
    height: 298.66px !important;
  } */
}

/* Min-Width - Max-Width */
@media (min-width: 375px) and (max-width: 743px) {
  .navbar .container {
    display: none !important;
  }

  .navbar .container-small {
    display: block !important;
  }

  .first .Heading {
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -0.02em;
    line-height: 32px;
  }

  .container.cont {
    margin: 0 !important;
  }

  .first {
    padding: 0;
  }

  .first .container .card-img-overlay {
    padding: 0 0 48px 0;
  }

  .btn-flexible {
    font-size: 15px;
    line-height: 24px;
    padding: 12px 24px;
  }
}
@media (min-width: 744px) and (max-width: 1127px) {
  .first .Heading {
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -0.02em;
    line-height: 36px;
  }

  .container.cont {
    margin: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
  }

  .first {
    padding: 0;
  }

  .first .container .card-img-overlay {
    padding: 0 0 64px 0;
  }

  .btn-flexible {
    font-size: 15px;
    line-height: 24px;
    padding: 12px 24px;
  }
}
@media (min-width: 1128px) and (max-width: 1439px) {
  .first .cont {
    max-width: calc(min(1760px, 100%) - 160px) !important;
  }

  .first .Heading {
    color: #fff;
    font-size: 38px;
    font-weight: 600;
    letter-spacing: -0.02em;
    line-height: 43px;
  }

  .container-fluid.cont {
    margin: auto;
    padding-bottom: 96px;
  }

  .first {
    padding: 0;
  }

  .first .container .card-img-overlay {
    padding: 0 0 64px 0;
  }

  .btn-flexible {
    font-size: 18px;
    line-height: 28px;
    padding: 14px 32px;
  }
}

/* Max Width  */
@media (max-width: 374px) {
  .navbar .container {
    display: none !important;
  }

  .navbar .container-small {
    display: block !important;
  }

  .first .Heading {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.02em;
    line-height: 27px;
  }

  .container.cont {
    margin: 0 !important;
  }

  .first {
    padding: 0;
  }

  .first .container .card-img-overlay {
    padding: 0 0 40px 0;
  }

  .btn-flexible {
    font-size: 15px;
    line-height: 24px;
    padding: 12px 24px;
  }

  .subhead {
    font-size: 22px;
    line-height: 25px;
  }
}
